$font-primary: Source Sans Pro, sans-serif;
$font-secondary: Bungee, sans-serif;
$font-color-primary: #545149;
$font-color-secondary: #FFFFFF;
$bg-color-primary: #f4f1ec;
$bg-color-secondary: #A18B40;
$bg-color-nav: #4056A1;
$profile-bg: url("https://www.transparenttextures.com/patterns/transparent-square-tiles.png");