/* Layout for small screens */

/* Styling for the nav bar */
nav {
  display: flex;
  background-color: #A18B40;
  color: #FFFFFF;
  height: 120px;
  position: fixed;
  top: 0;
  width: 100%;
}

/* Styling for the nav elements */
.nav-bar {
  display: flex;
  width: 100%;
  margin: 1.5em;
  justify-content: space-between;
}

/* The tweeter logo */
#logo {
  display: flex;
  font-size: 36px;
  font-family: Bungee, sans-serif;
}

/* The compose tweet button on the right */
#write-new {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Layout for big screens */

@media only screen and (min-width: 1024px) {

  nav {
    background-color: #4056A1;
  }
  
  }