textarea.new-tweet {
  display: flex;
  background-color: #f4f1ec;
  font-size: 18px;
  width: 100%;
  height: 32px;
  margin-top: 1em;
  margin-bottom: 1em;
  border: none;
  border-bottom: 4px solid #545149;
}

div.new-tweet {
  display: flex;
  font-family: Bungee, sans-serif;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

div.tweet-button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

button.new-tweet {
  color: #FFFFFF;
  background-color: #4056A1;
}

output.counter[counterColor="red"] {
  color: red;
}

#error {
  font-size: 16px;
  color: red;
  font-family: Source Sans Pro, sans-serif;
  margin-left: 1em;
}

#error > i {
  margin-right: 0.5em;
}

/* div.hide {
  display: none;
}

div.show {
  display: flex;
  color: red;
  border-style: solid;
  margin-bottom: 1em;
  justify-content: center;
}

div.show > span {
  display: flex;
  margin: 0.5em;
} */