section.new-tweet {
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  flex-direction: column;
}

textarea.new-tweet {
  display: flex;
  background-color: #f4f1ec;
  font-size: 18px;
  width: 100%;
  height: 32px;
  margin-top: 1em;
  margin-bottom: 1em;
  border: none;
  border-bottom: 4px solid #545149;
}

div.new-tweet {
  display: flex;
  font-family: Bungee, sans-serif;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

button.new-tweet {
  color: #FFFFFF;
  background-color: #4056A1;
}

output.counter[counterColor="red"] {
  color: red;
}