article.tweet {
  display: flex;
  border-style: solid;
  margin-top: 1em;
  margin-bottom: 1em;
  flex-direction: column;
}

article.tweet:hover {
  display: flex;
  box-shadow: 5px 5px grey;
  border-style: solid;
  flex-direction: column;
}

header.tweet {
  display: flex;
  background: #f4f1ec;
  height: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tweet-header {
  display: flex;
  font-size: 20px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 20px;
  margin-right: 20px;
  align-items: center;
}

.handle {
  display: none;
}

article.tweet:hover .handle {
  display: flex;
  color: lightgray;
}

div.tweet {
  display: flex;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  margin-left: 28px;
  margin-right: 28px;
  align-items: center;
}

hr {
  border: 0;
  background-color:#545149;
  width: 98%;              
  height: 3px;
  margin-top: 1em;
  margin-bottom: 0em;
}

footer.tweet {
  display: flex;
  font-size: 14px;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 1em;
  align-items: center;
  justify-content: space-between;
}

.tweet-footer {
  display: flex;
  margin-top: 1em;
}

.icon {
  display: flex;
  color: #4056A1;
  margin-left: 0.5em;
}